<h1>hello</h1>
  <div class="grid w-full max-w-lg">
    <article class="bg-white rounded-lg w-full">
      <div class="flex p-4 gap-4 items-center">
        <span class="bg-slate-500 rounded-full grid w-10 h-10"></span>
        <span>LinoRino</span>
      </div>
      <p>hello world!</p>
    </article>
  </div>
</body>
